#carousel__main{
    display: block;
    width: 100%;
    height: 550px;
    position: relative;
    top: 49px;
    left: 0;
    background-color: #00324F;
    margin-bottom: 30px;
}
#carousel__main .carousel-inner{
    height: 500px;
}
#carousel__main .carousel-inner .carousel-item{
    height: 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
.img-view1400, .img-view1024, .img-view768, .img-view550, .img-view320{
    display: none;

}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fff;
    opacity: .25;
}
.carousel-caption{
    width: 100%;
    left: 0;
}
.carousel-caption__text{
    color: #fff;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .025rem;
    line-height: 1.5;
}
.carousel-caption__btn{
    font-size: 14px;
    padding: 8px 20px;
    border-color: white;
    background-color: red;
    color: white;
    transition: background-color color .3s;
}

.carousel-caption__btn:hover{
    background-color: white;
    color: red;
}
.cr__overplay{
    background-color: #00324F;
    height: 60px;
    width: 100%;
    display: block;
    z-index: 2;
}
.newProduct{
    width: 100%;
    height: 370px;
    position: relative;
    z-index: 0;
}
.newProduct__bg{
    /* display: block; */
    width: 100%;
    height: 70%;
    background-color: #00324F;
}
.newProduct__content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 0;
}
.newProduct__content-showed{
    animation: displayItem 1s linear 0s 1;
}
@keyframes displayItem{
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}
.newProduct__content .newProduct__item {
    width: 50%;
    height: 370px;
    position: relative;
}
.newProduct__content .newProduct__item img{
    width: 100%;
    height: 100%;
}
.newProduct-caption{
    position: absolute;
    width: 90%;
}
.newProduct__item:first-child .newProduct-caption{
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.newProduct__item:last-child .newProduct-caption{
    width: 45%;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.newProduct-caption__text{
    color: #fff;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .025rem;
}
.newProduct-caption__header{
    color: #fff;
    display: inline;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #0171B1;
}
.newProduct__item:first-child .newProduct-caption__btn{
    background-color: #2298DC;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border-color: #2298DC;
    transition: background-color .8s;
}
.newProduct__item:last-child .newProduct-caption__btn{
    background-color: #2298DC;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border-color: #fff;
    transition: background-color .8s;
}
.newProduct__item:last-child .newProduct-caption__text{
    text-align: left;
    padding: 5px 0;
    margin-bottom: 50px;
}
.newProduct__item:first-child:hover .newProduct-caption__btn{
    background-color: transparent;
}
.newProduct__item:last-child .newProduct-caption__btn:hover{
    background-color: #fff;
    color: #2298DC;
}
.newProduct-tabletID-hidden{
    display: none;
}
@media screen and (min-width:1401px){
    .img-view1400{
        display: block;
    }
}
@media screen and (min-width:1024px) and (max-width:1400px){
    .img-view1024{
        display: block;
    }
}
@media screen and (max-width:767.9px){
    #carousel__main{
        background-color: #fff;
    }
    .carousel-indicators li{
        background-color: #c4c4c4;
        opacity: .25;
    }
    .carousel-indicators li.active{
        background-color: #2198dc;
    }
    .newProduct{
        height: fit-content;
    }
    .newProduct__content{
        position: relative;
        top: 0;
        flex-direction: column;
        width: 100%;
    }
    .newProduct__content .newProduct__item{
        width: 95%;
        margin: auto;
        margin-bottom: 30px;
    }
    .newProduct-caption__text{
        font-size: 14px;
    }
    .newProduct__item:last-child .newProduct-caption{
        width: 80%;
        text-align: center;
        top: 75%;
        left: 50%;
    }
    .newProduct__item:last-child .newProduct-caption__text{
        text-align: center;
        padding: 10px 0;
        margin-bottom: 15px;
    }
    .newProduct__bg{
        display: none;
    }
    .cr__overplay{
        background-color: #fff;
        height: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:1023.9px){
    .img-view768{
        display: block;
    }
    .newProduct__item:last-child .newProduct-caption{
        width: 80%;
        top: 50%;
        left: 45%;
    }
    .newProduct__bg{
        background-color: #fff;
    }
}
@media screen and (min-width:550.5px) and (max-width:767.9px){
    .img-view550{
        display: block;
    }
}
@media screen and (max-width:550px){
    .img-view320{
        display: block;
    }
    .newProduct__item:last-child .newProduct-caption__text{
        margin-bottom: 2px;
    }
}