/* GLOBAL */

html,
body {
    margin: 0;
    padding: 0;
    /* giu nguyen kich thuoc cua the khi them padding */
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /* ken trinh duyet */
    /* scroll-behavior: smooth; */
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

input,
button {
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* HEADER */


/* TOUTS */


/* touts */

.touts {
    background-color: #f5f5f5;
    /* border: 1px solid rgb(255, 60, 0); */
}


/* touts content */

.touts__content {
    padding-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 97%;
    padding: 15px 10px;
    margin: 0 auto;
    /* border: 1px solid rgb(17, 17, 16); */
    text-align: center;
}


/* tout item */

.touts__item {
    /* border: 2px solid green; */
    /* padding: 15px; */
    padding: 35px 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.touts__item h3 {
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    margin: 25px 0;
    color: #00324f;
    font-weight: 700;
    /* border: 1px solid red; */
}

.touts__item i {
    font-size: 60px;
    color: #00324f;
}

.touts__item:hover>button {
    color: #007cc0;
    border: 2px solid #007cc0;
    background-color: #fff;
    transition: all .6s;
}

.touts__item button {
    border-radius: 1.95rem;
    padding: 5px 40px;
    background-color: #007cc0;
    color: #fff;
    border: 2px solid #007cc0;
    font-size: 15px;
    font-weight: 600;
}


/* EXPLORE */


/* explore */

.explore {
    background-color: #f5f5f5;
    height: 450px;
    /* border: 2px solid blue; */
}


/* explore content */

.explore__content {
    /* border: 4px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    height: 100%;
}

.explore__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}


/* explore__left */

.explore__left {
    position: relative;
}

.explore__left:hover>.explore__certified>button {
    transition: all .6s;
    color: #007cc0;
    /* border: 2px solid #007cc0; */
    background-color: rgba(255, 255, 255, .0);
}

.explore__howtovideo {
    color: white;
    height: auto;
    width: 90%;
    font-size: 12px;
    position: absolute;
    /* border: 1px solid #fff; */
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.explore__howtovideo button {
    margin-top: 15px;
    border-radius: 1.95rem;
    background-color: #007cc0;
    color: #fff;
    border: 2px solid #007cc0;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
}


/* explore right */

.explore__right {
    position: relative;
}

.explore__right:hover>.explore__howtovideo>button {
    transition: all .6s;
    color: #007cc0;
    border: 2px solid #007cc0;
    background-color: rgba(255, 255, 255, .0);
}


/* explore__certified */

.explore__certified {
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.explore__certified button {
    border-radius: 1.95rem;
    background-color: #007cc0;
    color: #fff;
    /* border: 2px solid #007cc0; */
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
}

.explore__certified p {
    color: rgba(0, 50, 79, .9);
    padding-top: 9px;
    font-size: 16px;
    text-align: center;
}


/* condition-apply */

.condition-apply {
    /* border: 1px solid white; */
    color: rgba(0, 50, 79, .9);
}

.explore__left .explore__certified .condition-apply:hover {
    opacity: 1;
    color: #2198dc;
}


/* explore modal */

.explore-modal {
    position: absolute;
    z-index: 9999;
    /* border: 1px solid black; */
}


/* DISCOVER */


/* discover */


/* discover title */

.discover__title {
    text-align: center;
    /* border: 1px solid green; */
    color: #00324f;
    padding: 15px 0;
}

.discover__title h2 {
    font-size: 60px;
    line-height: 60px;
    color: #00324f;
    font-weight: 300;
}

.discover__title p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}


/* discover  content */

.discover__content {
    height: fit-content;
    width: 85%;
    /* border: 1px solid rgb(245, 8, 245); */
}

.discover-row {
    /* border: 1px solid black; */
    margin: 0 auto;
}

.discover-col {
    /* border: 2px solid rgb(8, 245, 79); */
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
}

.discover-col:nth-of-type(1) {
    margin-left: 0;
}

.discover-col:nth-of-type(5) {
    margin-left: 0;
}

.discover__img {
    /* border: 1px solid blue; */
    height: 40%;
    width: 100%;
    position: relative;
}


/* DISCOVER BUTTON PLAYER */

.discover__img a {
    position: absolute;
    z-index: 100;
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    top: 32%;
    left: 41%;
    /* transform: translateX(-50%, -50%); */
}

.discover__img i {
    font-size: 25px;
    color: #007cc0;
    padding-top: 12px;
    padding-left: 5px;
}

.discover__img a:hover {
    background-color: #007cc0;
}

.discover__img a:hover>i {
    color: #fff;
}

.discover__img img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}

.discover__text {
    width: 80%;
    height: 52%;
    /* border: 1px solid blue; */
    padding-bottom: 40px;
    padding-top: 1.5rem;
    margin: 0 auto;
}

.discover__text h5 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.discover__text p {
    font-size: 13px;
    line-height: 18px;
    padding-top: 15px;
}

.discover__learnmore {
    height: 8%;
    padding: 0 25px;
    border-radius: 1.95rem;
    background-color: #007cc0;
    color: #fff;
    border: 2px solid #007cc0;
    font-size: 13px;
    font-weight: 600;
    /* border: 1px solid rgb(255, 60, 0); */
}

.discover__learnmore:hover {
    color: #007cc0;
    border: 2px solid #007cc0;
    background-color: #fff;
    transition: all .6s;
}


/* NUT BUTTON MORE AND NEW EVENTS */

.discover__morenew {
    /* border: 1px solid red; */
    text-align: center;
}

.discover__morenew button {
    height: 8%;
    padding: 9px 25px;
    border-radius: 2rem;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: #e42525;
}

.discover__morenew button:hover {
    background-color: #fff;
    border: 1px solid #e42525;
    color: #e42525;
    transition: all .4s;
}


/* CONTACT */

.contact {
    background-color: #eeeeee;
    width: 100%;
    /* border: 1px solid #00324f; */
}


/* HONDA LOGO */

.honda__logo {
    width: 97%;
    border-top: 5px solid #007cc0;
    border-bottom: 1px solid rgba(59, 59, 59, .2);
    text-align: center;
    background-color: #eeeeee;
    /* border: 1px solid red; */
}

.honda__logo svg {
    height: 90px;
    width: 145px;
    fill: #007cc0;
    cursor: pointer;
}


/* HONDA CONTACT */

.honda__contact {
    width: 97%;
    padding-top: 10px;
    /* border: 1px solid blue; */
    border-bottom: 1px solid rgba(59, 59, 59, .2);
}

.honda__contact p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.honda-stay-in-touch {
    text-align: left;
    /* border: 1px solid blue; */
}

.honda-stay-in-touch svg {
    fill: #2198dc;
    height: 1.5rem;
    width: 1.5rem;
}

.honda-stay-in-touch a {
    /* display: inline-block; */
    margin: 0 5px;
}

.col__icon {
    padding-top: 15px;
}


/*  honda search*/

.honda-search {
    /* padding-top: 35px; */
    padding-bottom: 2rem;
    /* border: 1px solid red; */
}

.honda-search form {
    max-width: 535px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 7px;
}

.honda-search input {
    margin-top: 1rem;
    border: 0;
    border-radius: 34.5px;
    box-shadow: inset 2px 2px 5px 0 rgb(0 0 0 / 15%);
    color: #00324f;
    font-size: 14px;
    letter-spacing: 0;
    height: 40px;
    padding: 11px 0 9px 45px;
    width: 100%;
    background-color: #fff;
}

.honda-search input::placeholder {
    color: #2198dc;
}

.honda-search i {
    color: #007cc0;
    display: block;
    left: 10px;
    position: absolute;
    top: 38px;
    font-size: 16px;
}


/* stay informed */

.honda-stay-informed button {
    border-radius: 34.5px;
    background-color: #fff;
    color: #007cc0;
    border: 2px solid #007cc0;
    font-size: 13px;
    font-weight: 600;
    /* height: 40px; */
    padding: 8px 45px;
    margin-top: 10px;
    float: right;
}

.honda-stay-informed button:hover {
    color: #fff;
    background-color: #007cc0;
    transition: all .5s;
}

.honda-stay-informed p {
    text-align: right;
}


/* HONDA LINK */

.honda-collapse {
    display: none;
}

.honda__linkcontent {
    /* border: 1px solid yellow; */
    width: 98%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #00446b;
    gap: 30px;
}

.honda__linkitem {
    /* border: 1px solid blue; */
    padding-left: 15px;
}

.honda__linkitem h3 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    padding-bottom: 15px;
}

.honda__linkitem a {
    line-height: 6px;
    font-size: 12px;
    font-weight: 400;
    color: #00446b;
}

.honda__linkitem a:hover {
    text-decoration: underline;
}


/* FOOTER */

footer {
    background-color: #007cc0;
}


/* footer content */

.footer__content {
    width: 97%;
    /* border: 4px solid goldenrod; */
}


/* copyright */

.footer__copyright {
    /* border: 1px solid rgb(187, 187, 187); */
    color: #fff;
}


/* rights */

.footer__copyrightContent {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    margin: 5px 0;
}

.footer__copyrightContent a {
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.footer__copyrightContent a:hover {
    text-decoration: underline;
}


/* link */

.links {
    text-align: right;
}

.links a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 5px 0;
    display: inline-block;
    padding-right: 9px;
    padding-left: 4px;
    border-right: 1px solid #fff;
}

.links a:hover {
    text-decoration: underline;
}


/* footer brands */

.footer__brand svg {
    fill: #fff;
    width: 70%;
}

.footer__brandContent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 25px;
}


/* footer cookies */

.footer__cookies {
    width: 100%;
}

.footer__cookiesContent {
    width: 50%;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    margin: 5px 0;
}

.footer__cookiesContent a {
    color: #fff;
    font-weight: 600;
}

.footer__cookiesContent a:hover {
    text-decoration: underline;
}


/* BACK TOP TOP */

.back-to-top {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
    /* position: absolute; */
    height: 60px;
    width: 60px;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(0, 124, 192);
    border-radius: 30% 0 0 30%;
    bottom: 100px;
    right: 0;
    padding: 5px;
    position: fixed;
    /* z-index: 9997; */
    text-align: center;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 35px;
}

.cd-top--is-visible {
    visibility: visible;
    transform: translateX(50px);
    opacity: 0;
}

.cd-top--fade-out {
    transition: all .8s;
    opacity: 1;
    transform: translateX(0px);
}


/* MODAL CONDITION APPLY */

.disclaimers {
    background-color: rgba(0, 68, 107, .7);
    bottom: 0;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    left: 5.5%;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    width: 95%;
    z-index: 20000;
    font-size: 12px;
    height: auto;
    color: #fff;
    font-weight: 300;
    padding: 20px;
    /* position: relative; */
    visibility: hidden;
}

.disclaimers i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    top: 15px;
    right: 20px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    background-color: red;
}


/* RESPONSIVE WEB */


/* IPAD DEVICE */


/* IPAD PORTRAIT */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    /* ----------------TOUTS------------------- */
    /* -------------------EXPLORE---------------- */
    .explore {
        height: 400px;
    }
    .honda__linkcontent {
        grid-template-columns: none;
    }
    .explore__content {
        width: 98%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
        height: 350px;
    }
    .explore__howtovideo {
        top: 217px;
    }
    /*------------------ DISCOVER---------------------- */
    .discover {
        /* border: 1px solid red; */
    }
    .discover-row {
        display: grid;
        padding: 0;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .discover-col {
        margin-top: 10px;
        margin-left: 0;
        /* margin-right: 10px; */
        height: auto;
    }
    .discover__title p {
        padding: 0 25px;
    }
    /* class break line */
    .discover-col-break {
        /* visibility: hidden; */
        display: none;
    }
    /* --------------------------CONTACT-------------------------- */
    /* honda logo */
    .honda__logo svg {
        height: 60px;
        width: 92px;
        fill: #007cc0;
        cursor: pointer;
    }
    /* honda stay in touch*/
    .honda-stay-in-touch {
        order: 1;
        padding-bottom: 15px;
        width: 50%;
        /* border-bottom: 1px solid rgba(59, 59, 59, .2); */
    }
    .honda-stay-in-touch svg {
        fill: #2198dc;
        height: 1.35rem;
        width: 1.35rem;
    }
    /* honda search */
    .honda-search {
        order: 3;
        padding-top: -45px;
        padding-bottom: 20px;
    }
    .honda-search i {
        font-size: 14px;
        left: 13px;
        top: 39px;
    }
    .honda-search input::placeholder {
        font-size: 14px;
        font-weight: 500;
    }
    /* honda-stay-informed */
    .honda-stay-informed {
        width: 50%;
        order: 2;
        padding-bottom: 15px;
        /* border-bottom: 1px solid rgba(59, 59, 59, .2); */
    }
    .honda-stay-informed button {
        border-radius: 34.5px;
        background-color: #fff;
        color: #007cc0;
        border: 2px solid #007cc0;
        font-size: 12px;
        font-weight: 800;
        /* height: 40px; */
        padding: 5px 30px;
        margin-top: 10px;
        float: right;
    }
    /* ----------------------------HONDA LINK-------------------------- */
    #honda__link {
        display: block;
        background-color: #fff;
        width: 100%;
    }
    .honda__linkitem {
        display: none;
    }
    .card {
        position: none;
        background-color: #eeeeee;
        margin: 0 !important;
        /* border: 1px solid blue; */
        width: 750px;
    }
    .card-header {
        width: 100%;
        display: flex;
        height: 40px;
        position: relative;
        padding: 10px 10px;
        border-top: 1px solid rgba(238, 238, 238, .3);
        border-bottom: 1px solid rgba(238, 238, 238, .3);
    }
    .card-header i {
        padding: 6px;
        right: 9px;
        top: 4px;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .3);
        border: 1px solid rgba(27, 27, 250, 0.7);
    }
    .card-header a {
        display: flex;
        font-size: 15px;
        color: black;
        font-weight: 700;
        fill: black;
    }
    .card-body {
        padding: 10px 35px;
        background-color: #fff;
    }
    .card-body a {
        font-size: 13px;
        color: black;
    }
    .honda-linkCollapse {
        margin-top: -5px !important;
        width: 100%;
        /* border: 1px solid red; */
        margin-bottom: 20px;
    }
    .accordion .card-header:after {
        font-family: 'FontAwesome';
        content: "\f068";
        float: right;
    }
    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }
    /* --------------------------FOOTER------------------- */
    .footer__brand {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
        border-top: rgb(255, 255, 255, .5) 1px solid;
    }
    .footer__brandContent {
        /* border: 1px solid #fff; */
        gap: 0;
    }
    .footer__brandItem {
        margin: 0;
        padding: 0;
        /* border: 1px solid red; */
    }
    .footer__brand svg {
        padding: 10px 0;
        width: 80px !important;
    }
    .footer__brandItem title {
        font-size: 100px !important;
    }
    .footer__cookiesContent {
        width: 85%;
        /* border: 1px solid yellow; */
        text-align: justify;
    }
    .copyright-col {
        width: 50%;
    }
    /* honda collapse */
    .honda-collapse {
        margin-top: -29px;
        display: block;
        margin-bottom: 15px;
    }
    .panel-default:first-of-type {
        border-top: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-default {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-body {
        padding-top: 10px;
    }
    .panel-body>ul>li>a {
        display: inline;
        font-size: 13px;
        color: black;
        padding-left: 15px;
    }
    h4.panel-title {
        font-size: 15px;
        font-weight: 600;
        color: black;
        line-height: 30px;
    }
    .panel-heading {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: middle;
    }
    .panel-heading .fa {
        /* position: absolute;
        right: 10px;
        top: 8px; */
        width: 30px;
        height: 30px;
        border: 1px solid #2198dc;
        border-radius: 50%;
        padding: 5px 5px;
        color: black;
    }
    .panel-heading {
        padding: 7px 0;
    }
}

@media only screen and (max-width: 767.9px) {
    /* -------------------------------TOUTS---------------------------------- */
    .touts__content {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-template-rows: repeat(2, 175px);
        text-align: center;
    }
    .touts__item h3 {
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        margin: 25px 0;
        color: #00324f;
        font-weight: 700;
        /* border: 1px solid red; */
        width: 100%;
    }
    .touts__item button {
        /* margin-top: 25px; */
        visibility: hidden;
    }
    /* -------------------------------EXPLORE---------------------------------- */
    .explore__content {
        width: 100%;
        height: 862px;
        /* border: 4px solid green; */
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .explore__content a {
        padding: 0;
        border: 1px solid red;
        width: 100%;
        height: 100%;
    }
    .explore__content>a>img {
        padding-left: 0;
        padding-right: 0;
    }
    .explore__certified>p {
        color: #fff;
    }
    /* -------------------------------DISCOVER HONDA---------------------------------- */
    .discover {
        margin-top: 450px;
    }
    .discover-col {
        margin-left: 0;
        /* height: 453px; */
    }
    .discover-row {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .discover__title {
        /* border: 1px solid red; */
        padding: 0 25px;
    }
    .discover__title>h2 {
        font-weight: 400;
        font-size: 30px;
    }
    .discover-col>a>button {
        padding: 5px 35px;
    }
    .w-100 {
        width: 0 !important;
    }
    .discover-col-break {
        visibility: hidden;
    }
    /* -------------------------------HONDA CONTACT---------------------------------- */
    .honda__contact {
        border: none;
    }
    .honda__logo {
        border-top: 5px solid #007cc0 !important;
        margin-top: -35px;
        border: none;
    }
    /* honda logo no change */
    /* honda stay in touch*/
    .honda-stay-in-touch {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 0 25px;
    }
    .honda-stay-in-touch p {
        display: none;
    }
    /* honda search */
    .honda-search {
        width: 100%;
        order: 3;
    }
    /* honda-stay-informed */
    .honda-stay-informed {
        order: 1;
        width: 70%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .honda-stay-informed p {
        float: none;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
    }
    .honda-stay-informed button {
        float: none;
        padding: 5px 55px;
    }
    /* -------------------------------HONDA LINK---------------------------------- */
    .card {
        position: none;
        background-color: #eeeeee;
        margin: 0 !important;
        /* border: 1px solid blue; */
        width: 404px;
    }
    .card-header i {
        right: 9px;
        top: 4px;
    }
    /* ----------------------COPYRIGHT----------------------------------------- */
    .footer__copyright .copyright-row {
        width: 100%;
        display: block;
        /* border: 1px solid yellow; */
    }
    .copyright-col {
        text-align: center !important;
        width: 100%;
        /* border: 1px solid red; */
    }
    .copyright-col:last-of-type {
        margin: 0 auto;
        /* border: 1px solid rgb(255, 0, 200); */
        width: 99%;
        height: fit-content;
    }
    .links {
        padding-top: 15px;
        width: 100%;
        /* border: 1px solid #fff; */
        text-align: center;
    }
    /* ------------------------------- FOOTER COLLAPSE -----------------------------*/
    /* honda collapse */
    .honda__linkcontent {
        grid-template-columns: none;
    }
    .honda__linkitem {
        display: none;
    }
    .honda-collapse {
        margin-top: -29px;
        display: block;
        margin-bottom: 15px;
        height: auto;
    }
    .panel-default:first-of-type {
        border-top: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-default {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-body {
        padding-top: 10px;
    }
    .panel-body>ul>li>a {
        display: inline;
        font-size: 13px;
        color: black;
        padding-left: 15px;
    }
    h4.panel-title {
        font-size: 15px;
        font-weight: 600;
        color: black;
        line-height: 30px;
    }
    .panel-heading {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: middle;
    }
    .panel-heading .fa {
        /* position: absolute;
        right: 10px;
        top: 8px; */
        width: 30px;
        height: 30px;
        border: 1px solid #2198dc;
        border-radius: 50%;
        padding: 5px 5px;
        color: black;
    }
    .panel-heading {
        padding: 7px 0;
    }
    /* -------------------------------BRANDS---------------------------------- */
    .footer__brand {
        width: 100%;
        border-bottom: rgb(255, 255, 255, .5) 1px solid;
    }
    .footer__brandContent {
        /* border: 1px solid #fff; */
        text-align: center;
        gap: 0;
        height: 80px;
        border-top: rgb(255, 255, 255, .5) 1px solid;
    }
    .footer__brandItem {
        margin: 0;
        padding: 0;
        display: none;
        position: relative;
    }
    .brand-honda {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 25%);
        /* border: 1px solid red; */
    }
    .footer__brand svg {
        padding: 10px 0;
        width: 90px !important;
    }
    .footer__brandItem title {
        font-size: 120px !important;
    }
    /* -------------------------------COOKIES---------------------------------- */
    .footer__cookiesContent {
        font-size: 11px;
        margin: 0 auto;
        width: 90%;
        /* border: 1px solid yellow; */
        text-align: center;
    }
}

@media only screen and (max-width: 736px) and (min-width: 414px) {
    /* -------------------------------TOUTS---------------------------------- */
    .touts__content {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, minmax(175px, 1fr));
        grid-template-rows: repeat(2, 175px);
        text-align: center;
        /* padding: 15px 35px; */
        /* border: 1px solid red; */
    }
    .touts__item h3 {
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        margin: 25px 0;
        color: #00324f;
        font-weight: 700;
        /* border: 1px solid red; */
        width: 100%;
    }
    .touts__item button {
        /* margin-top: 25px; */
        visibility: hidden;
    }
    .touts__item:last-of-type button {
        /* margin-top: 10px; */
    }
    /* -------------------------------EXPLORE---------------------------------- */
    .explore__content {
        min-width: 98% !important;
        height: auto;
        /* border: 1px solid green; */
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .explore__content article {
        /* border: 1px solid red; */
        width: 100%;
        height: 480px;
        margin-left: 0;
    }
    .explore__certified>p {
        color: #fff;
    }
    .explore__howtovideo {
        top: 400px;
    }
    /* -------------------------------DISCOVER HONDA---------------------------------- */
    .discover {
        margin-top: 600px;
    }
    .discover__content {
        padding-top: 45px;
    }
    .discover-col {
        max-width: 280px;
        margin: 0 auto !important;
    }
    .discover-col:nth-of-type(1) {}
    .discover-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 30px;
        /* border: 1px solid black; */
    }
    .w-100 {
        display: none;
        /* visibility: hidden; */
    }
    .discover__title {
        /* border: 1px solid red; */
        padding: 0 25px;
    }
    .discover__title>h2 {
        font-weight: 400;
        font-size: 30px;
    }
    .discover-col>a>button {
        padding: 5px 35px;
    }
    .w-100 {
        width: 0 !important;
    }
    .discover-col-break {
        visibility: hidden;
    }
    .discover__morenew {
        padding: 5px 10px !important;
        margin: 25px 0;
    }
    /* -------------------------------HONDA CONTACT---------------------------------- */
    .honda__contact {
        border: none;
    }
    .honda__logo {
        border-top: 5px solid #007cc0 !important;
        margin-top: -35px;
        border: none;
    }
    /* honda logo no change */
    /* honda stay in touch*/
    .honda-stay-in-touch {
        order: 2;
        width: 100%;
        text-align: center !important;
        padding: 0 25px;
    }
    .honda-stay-in-touch p {
        display: none;
    }
    /* honda search */
    .honda-search {
        width: 100%;
        order: 3;
    }
    /* honda-stay-informed */
    .honda-stay-informed {
        order: 1;
        width: 70%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .honda-stay-informed p {
        float: none;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
    }
    .honda-stay-informed button {
        float: none;
        padding: 5px 55px;
    }
    /* -------------------------------HONDA LINK---------------------------------- */
    .card {
        position: none;
        background-color: #eeeeee;
        margin: 0 !important;
        /* border: 1px solid blue; */
        width: 404px;
    }
    .card-header i {
        right: 9px;
        top: 4px;
    }
    /* ----------------------COPYRIGHT----------------------------------------- */
    footer {
        /* border: 1px solid red; */
    }
    .footer__copyright {
        /* border: 1px solid yellow; */
    }
    .footer__copyright .copyright-row {
        width: 100%;
        display: block;
    }
    .copyright-col {
        text-align: center !important;
        width: 100%;
        /* border: 1px solid red; */
    }
    .copyright-col:last-of-type {
        margin: 0 auto;
        /* border: 1px solid rgb(255, 0, 200); */
        width: 99%;
        height: fit-content;
    }
    .links {
        padding-top: 15px;
        width: 100%;
        /* border: 1px solid #fff; */
        text-align: center;
    }
    /* ------------------------------- FOOTER COLLAPSE -----------------------------*/
    /* honda collapse */
    .honda__linkitem {
        display: none;
    }
    .honda-collapse {
        margin-top: -29px;
        display: block;
        margin-bottom: 15px;
        min-height: auto;
    }
    .panel-default:first-of-type {
        border-top: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-default {
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid rgba(59, 59, 59, .2);
    }
    .panel-body {
        padding-top: 10px;
    }
    .panel-body>ul>li>a {
        display: inline;
        font-size: 13px;
        color: black;
        padding-left: 15px;
    }
    .panel-heading a {
        font-size: 15px;
        font-weight: 600;
        color: black;
    }
    .panel-default>.panel-heading {
        position: relative;
    }
    .panel-heading .fa {
        position: absolute;
        right: 10px;
        top: 8px;
        border: 1px solid #2198dc;
        border-radius: 50%;
        padding: 5px 5px;
    }
    .panel-heading {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /* -------------------------------BRANDS---------------------------------- */
    .footer__brand {
        width: 100%;
        border-bottom: rgb(255, 255, 255, .5) 1px solid;
    }
    .footer__brandContent {
        /* border: 1px solid #fff; */
        text-align: center;
        gap: 0;
        height: 80px;
        border-top: rgb(255, 255, 255, .5) 1px solid;
    }
    .footer__brandItem {
        margin: 0;
        padding: 0;
        display: none;
        position: relative;
    }
    .brand-honda {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 25%);
        /* border: 1px solid red; */
    }
    .footer__brand svg {
        padding: 10px 0;
        width: 90px !important;
    }
    .footer__brandItem title {
        font-size: 120px !important;
    }
    /* -------------------------------COOKIES---------------------------------- */
    .footer__cookiesContent {
        font-size: 11px;
        margin: 0 auto;
        width: 90%;
        /* border: 1px solid yellow; */
        text-align: center;
    }
}